
body {
    background-image:"https://preview.redd.it/looking-for-that-sticker-of-nailong-v0-af3m1is2rsle1.png?width=889&auto=webp&s=362d56ecd46231e7abb11af17cdd2b7e9877f479"
}

img {
    max-width:450px;
    max-height:450px;
}
